<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous">
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Django project{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/database.css' %}">
</head>
<body>
<div class="sidenav">
  <a href="/camerapage">Camera</a>
    <a href="/database">Database</a>
  <a href="/rewinddatabase">Rewind database</a>
{#  <a href="#">Contact</a>#}
</div>
<div class="main">
    <ul class="ul-api">
        {% for person in persons %}
        <li class="li-api">
            <div class="div-api">
                <img src="{{ person.image.url }}" alt="None" width="240" height="320"/>
                <p>{{person.name}}</p>
                <p>{{person.isactive }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>